[2020-03-05 08:25] moltar opened #97 "Add `@sinclair/typebox`"
Not sure if it fits with the spirit yet, but need to take a look.

https://github.com/sinclairzx81/typebox

[2020-03-13 10:44] moltar opened #100 "add zod"
https://github.com/vriad/zod

[2020-03-14 04:23] moltar opened #102 "add ts-utils"
https://github.com/ai-labs-team/ts-utils

[2020-03-14 04:24] moltar opened #103 "add type-safe-validator"
https://www.npmjs.com/package/type-safe-validator

[2020-03-14 04:40] moltar opened #104 "maybe add ts-runtime"
https://github.com/fabiandev/ts-runtime

[2020-03-14 06:07] #100 closed

[2020-03-14 06:26] moltar commented on #97
Not possible to include as it does not pass the criteria.

* Does not provide a validation function
* Even if using `ajv`, it does not type guard still

[2020-03-14 06:34] #102 closed

[2020-03-14 06:36] moltar commented on #103
Not possible to add.

Install fails with:

[code]

[2020-03-14 06:36] #103 closed

[2020-03-14 06:43] moltar commented on #104
Seems to be very broken and is no longer support.

Docs specify the following usage;

[code]

However, that does not work at all.

[2020-03-14 06:43] #104 closed

[2020-03-31 18:21] marcj opened #149 "Why were actual data validations removed?"
Currently, only data types itself are tested. This has been introduced in 61b353c. Validation benchmarks without basic data content validation is way too shallow to be called a validation benchmark. At best it is a type guard, but that has nothing to do with data validation. Almost all real-life validation code does use features like enums, negative number checks, string length limits, or email ch

[2020-03-31 18:37] marcj commented on #149
Why is it misleading? Because it appears ts-json-validator is extremely fast since this change, and much faster like everyone else. But that's only the case for the synthetic benchmark of testing **only** for string, boolean, and number data types. Zero actual data content validation involved here. Once you add a simple `minLength: 100` or `maximum: 0` to a certain field, the speed of this validat

[2020-04-01 07:09] moltar commented on #149
I guess our opinions differ.

Wikipedia entry for [data validation](https://en.wikipedia.org/wiki/Data_validation) includes [data-type check](https://en.wikipedia.org/wiki/Data_validation#Data-type_check) as a subset of data validation.

The README does say:

---

I am going to close this issue, because I don't feel there is anything actionable here.

I will open a separate issue that will discuss

[2020-04-01 07:09] #149 closed

[2020-04-01 07:11] moltar commented on #149
Also, want to note that yesterday I already started the work to refactor this code base to allow for additional benchmark suites.

The first additional benchmark suite will be to exclude `ts-json-validator` from tests as it is an outlier.

[2020-04-01 07:15] moltar opened #152 "Add constraint checking validation benchmarks"
Originally this project was started with libraries that had support for constraint checking (e.g. minimum number or max string length).

But I had removed it in 61b353c:

* to allow for more libraries to be included that only had type checking capability
* because I did not like the way it was designed and wanted to redesign it later

This issue is an open discussion for finding a common denominat

[2020-04-01 07:16] moltar commented on #149
@marcj  see #152

[2020-04-01 17:56] marcj commented on #149
Ok, I missed that you even stated in the README that this library is not supposed to be a validation benchmark, but just a type checker. I've meanwhile removed our link to this benchmark. Please let me know when you've added a full validation benchmark so I can add it back. Would be a shame if we lost that valuable information.

[2020-04-23 02:50] moodysalem opened #224 "Upgrade to jointz@6.0.1"
I made `isValid` much more performant in 6.0.1, it should be more on par with the other faster libraries. `checkValid` and `validate` both produce errors arrays that cost memory/CPU to construct.

Also, thanks for maintaining this benchmark!

[2020-04-23 03:17] moltar commented on #224
Sounds great! Renovate Bot already picked up the changes. I'll manually merge them now, but usually they merge automatically after an hour or so. You should see the results in a few minutes when the GitHub Actions run ends.

[2020-04-23 03:17] #224 closed

[2020-04-23 13:51] moodysalem opened #227 "SVGs in readme are aggressively cached"
The SVGs in the readme do not reflect the repo due to the cache. Consider updating automation to add a random value to the URLs in the readme after each update.

[2020-04-23 14:32] moltar commented on #227
Yeah, caching is pretty annoying. I find the easiest way to bust the cache is to just click on the SVG link to open it directly. That usually refreshes the cache immediately.

Unfortunately adding randomized string to the README would not be that easy, as README is a static file.

[2020-05-12 14:03] #227 closed

[2020-05-21 11:29] hassankhan opened #298 "Graphs seem to be broken"
None of the graphs on the README seem to have any data on them.

[2020-05-21 11:46] moltar commented on #298
Thanks for the report. Seems to be caused by #286. Looking into it.

[2020-05-21 15:26] moltar commented on #298
Linking relevant issue: https://github.com/vega/vega/issues/2640

[2020-05-21 19:26] shlomiassaf commented on #298
remove SVGO and it will work...

[2020-05-21 19:43] shlomiassaf opened #300 "adapt to real world scenarios"
Hi,

Nice project, thanks, i've used it for my evaluations.

I've noticed the huge gap between 2 libraries to all other libraries

- ts-quartet
- ts-json-validator

This huge gap is probably because of the way the project is running the tests.
The 2 libraries above use a different strategy than all others to create the validators.

While others mostly use predefined, hard-coded validator functions

[2020-05-21 19:52] shlomiassaf commented on #300
BTW, you can add a vanilla JS benchmark, as a control group.

[code]

You will see it runs 8x to 10x faster than `quartet` (the vanilla code is taken from quartet's runtime generated code)

[2020-05-22 08:49] #298 closed

[2020-05-22 08:49] moltar commented on #298
@shlomiassaf thanks for the tip. Done!

[2020-05-22 08:59] moltar commented on #300
Hey @shlomiassaf,

This is a great analysis. Thank you for that insight.

I knew that some of these libraries use `eval`'ed tricks for validation, but didn't realize about hot caching the results. It does make sense.

Do you have any suggestions on how to fix this?

Randomize the data maybe?

This unfortunately does not provide the type guarding.

But I think it is possible to create a type-guarde

[2020-05-22 09:00] moltar opened #304 "Create a vanilla JS/TS validation case"
From a suggestion by @shlomiassaf, in #300

Create a vanilla JS or TS validator.

[2020-05-23 10:49] moltar opened #306 "Add SVGO back"

[2020-06-12 03:32] moltar commented on #300
Hey @shlomiassaf,

Any ideas on the above?

[2020-06-22 01:32] moltar opened #337 "Add rulr"
https://github.com/ryansmith94/rulr

Maybe @ryansmith94 can commit a PR? :)

[2020-06-22 08:55] ryansmith94 commented on #337
@moltar what an awesome repo! Thanks for tagging me, I had no idea this existed. Stunned by the performance of Marshal and Quartet since I hadn't even heard of those packages!

I've added this issue to my notes and I'll try to make a PR soon 👍

[2020-06-22 12:01] moltar commented on #337
@ryansmith94 Marshal and Quartet are outliers, because they use jit and/or code gen (eval).

[2020-06-22 12:38] ryansmith94 commented on #337
That sounds interesting. When you say JIT does that refer to how they're importing different functions? Do you know why they're using eval and why that is faster?

[2020-06-22 13:07] moltar commented on #337
It’s basically generating validation code programmatically.

As to why it’s faster I’m not sure. 😁

[2020-06-22 13:24] ryansmith94 commented on #337
Interesting, sounds like I need to do some research.

[2020-06-22 13:30] moltar commented on #337
Also see #300

There’s some useful info there on this topic.

[2020-06-22 16:12] ryansmith94 commented on #337
Ahhhh thanks for that link, makes perfect sense why their performance is soooo much better. Really interesting.

[2020-06-23 01:30] #337 closed

[2020-06-23 07:17] #306 closed

[2020-07-27 14:38] hoeck opened #377 "Add simple-runtypes"
Hi, thanks for providing these benchmarks and for collecting all those libraries.

I'd like to add my own runtypes lib to it: https://github.com/hoeck/simple-runtypes - would you accept a PR for that?

[2020-07-27 23:06] moltar commented on #377
Yeah, of course!

As long as it fits within the requirements listed in the README, and looks like it does.

[2020-07-28 08:36] hoeck commented on #377
Great!

BTW, having your benchmarks at hand helped me to find some motivation to implement some simple speedups for my module :D.

[2020-07-28 09:49] #377 closed

[2020-07-28 09:49] moltar commented on #377
Awesome sauce. Happy to hear people find it useful 😁

[2020-08-06 19:22] gigobyte commented on #300
It would also be helpful to separate quick validations (that return true/false) and error-reporting validations. In the case of `io-ts`, the `.is()` method works differently than `.decode()` and it's faster because it doesn't return a detailed error message. Same for `ts-quartet` and its `e` and `v` exports.

[2020-08-07 07:22] moltar commented on #300
@gigobyte thank you for your input, I do think this is something we can address also.

[2020-08-25 09:55] moltar commented on #300
@gigobyte  Cannot get this to work. Does it require the extra fp-ts package with Either type?

I just removed `quartet`, because I didn't realize it, but it did require a type generic to be passed, which goes against the spirit of this project.

@marcj is there anything actionable I can do to improve this project?

[2020-08-25 18:52] gigobyte commented on #300
`decode` returns an Either, so you need fp-ts if you want to work with it (e.g. check if it's successful)

[2020-08-25 20:27] marcj commented on #300
I have a ios-ts benchmark here: https://github.com/super-hornet/super-hornet.ts/blob/master/packages/marshal-benchmark/tests/validation2.spec.ts, which is based on their official [benchmark](https://github.com/gcanti/io-ts/blob/master/perf/typescript-runtime-type-benchmarks.ts). They have already built-in `Guard` semantics.

[code]

[2020-08-26 05:03] moltar commented on #300
Made this change: https://github.com/moltar/typescript-runtime-type-benchmarks/commit/5501aa1ca92aa58652a00b5193ace172bcce69d3

Is this good enough?

[2020-11-09 11:15] pongo opened #467 "Node 14"
Please

[2020-11-10 02:11] #467 closed

[2020-11-10 02:11] moltar commented on #467
Added, will be re-generated in a few minutes.

[2020-11-10 06:40] pongo commented on #467
Thanks

[2020-12-12 20:42] ianstormtaylor opened #497 "split test cases into specific levels of functionality?"
Hey, thanks for this benchmark! It's a great idea.

I think right now the existing test cases aren't testing for the same behavior in each library though. Depending on the library, it might support "guarding", "validating", "parsing", "transforming", etc. But if you compare guarding of one to parsing of another it's not a direct comparison.

For example, as far as I can tell right now [`toi`](http

[2020-12-18 11:41] moltar commented on #497
@ianstormtaylor thank you for your input. I completely agree. This started small by comparing just a few libs and then it grew to this monster and now we are comparing apples to oranges. I like your idea about having extra test cases.

[2020-12-18 18:35] ianstormtaylor commented on #497
@moltar 😄 glad to hear it! I think the graphs and stuff that you'll be able to show once it's split will be really cool. And I'm looking forward to digging into Superstruct's performance when it's apples-to-apples.

[2020-12-28 04:22] RA80533 opened #506 "TypeScript 4.1 breaking change"
Due to [a breaking change](https://devblogs.microsoft.com/typescript/announcing-typescript-4-1/#resolves-parameters-are-no-longer-optional-in-promises) introduced in TypeScript 4.1, `Promise.resolve()` now requires an argument. The most recent builds have been failing due to [an offending line in index.ts](https://github.com/moltar/typescript-runtime-type-benchmarks/blob/4103dc7f1fc4c149cea2fef3e1

[2020-12-28 05:02] #506 closed

[2020-12-28 05:03] moltar commented on #506
Awesome! Thank you for the fix.

I also just added a bunch of fixes to test the actual builds during PR actions to prevent this in the future.

I was only running jest tests, but wasn't running `tsc`.

[2021-01-21 13:04] renovate[bot] opened #520 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:33] #520 closed

[2021-03-03 01:18] moltar commented on #497
Let's think about what kind of test buckets we want then? Any ideas?

[2021-03-03 01:50] ianstormtaylor commented on #497
I think `is`, `assert` and `parse` are good to start.

[2021-03-26 09:14] moltar opened #592 "Add Recordari"
https://github.com/Olian04/Recordari

[2021-03-26 09:15] moltar opened #593 "Add Tiny Schema Validator"
https://github.com/5alidz/tiny-schema-validator

[2021-04-16 17:22] JayaKrishnaNamburu opened #620 "Add mojotech/json-type-validator"
https://github.com/mojotech/json-type-validation Please add benchmarks for this package. Happy to help if anyone can give some info for adding the tests.

[2021-04-17 06:46] #620 closed

[2021-04-26 11:29] hoeck commented on #497
In addition to the three modes above I'd like to see a second dimension: strict vs non-strict validation of objects.

Strict:
only allowing known attributes in an object, reporting an error when unknown keys are present.

Non-strict:
similar to how Typescript checks interface type compatibility: if all known attributes are present, everything is good.

Strict vs non-strict checking has performance

[2021-06-28 11:30] hoeck commented on #497
Found some time over the weekend trying to solidify my ideas https://github.com/hoeck/typescript-runtime-type-benchmarks/commit/eef6d89fc5d7d8ef249b47bd8a8f3474c66d5a55

It basically introduces:

1. Support for more than one benchmark case per library: https://github.com/hoeck/typescript-runtime-type-benchmarks/blob/eef6d89fc5d7d8ef249b47bd8a8f3474c66d5a55/cases/valita.ts
2. Interactive visualizat

[2021-06-29 03:52] moltar commented on #497
@hoeck love the progress, especially the interactive visualization using gh-pages! I was dreaming of this, but didn't think I'll ever have time to get to that!

What I might have done differently on the additional benchmark cases is to have a single interface, which every benchmark implements. Not to have two tests per class.

We can then group and organize different classes of test cases into fol

[2021-06-29 05:33] hoeck commented on #497
Thanks for the Feedback :grin:!

I agree that grouping the cases can be improved. Was just not sure about how much of the existing structure you'd like to keep or why everything was written like it is in the first place (e.g. using an abstract class over an interface).

Having a single interface and multiple files per package sounds like the good & common way to do it. I would like to keep the set

[2021-07-06 17:52] sinclairzx81 opened #683 "AJV Test Case"
Hi, great project!

Would it be possible to include AJV to this test suite? I think a case exists for testing AJV performance as it's possible for TypeScript to inference types from JSON schema directly via conditional type mapping. Would certainly be curious to see how the defacto JSON schema validator holds up against these libraries.

Many Thanks!

[2021-07-07 02:45] moltar commented on #683
Hey @sinclairzx81!

Does `ajv` fit into the criteria outlined here? https://github.com/moltar/typescript-runtime-type-benchmarks#criteria

Also, I think some packages do use `ajv` internally. You can see which ones by doing `npm ls ajv` in the repo.

[2021-07-07 07:32] sinclairzx81 commented on #683
Hey @moltar, thanks for the quick response.

Ah I didn't see the criteria section. Thanks for linking that.

- These packages are capable of validating the data for type correctness (Yes)
- It has a validator function or method that returns a valid type casted value or throws. (Not directly)

I guess on the second point, Ajv doesn't quite meet the criteria, but it is very close. The following 4 li

[2021-07-07 09:43] moltar commented on #683
Yup yup, I am a fan of your work! :)

Yup, I tried it in #97 😁

I kinda agree and maybe we'll relax the criteria a bit after we finish #497 which opens up the possibility for different groups of tests.

[2021-07-07 09:50] sinclairzx81 commented on #683
@moltar Hey, awesome, that would be great ! :)

Will keep an eye out for #497, I'm very curious to see how the AJV validation stacks up against specialized TS type validation.

Many Many Thanks!
S

[2021-07-24 08:50] moltar opened #696 "Add ok-computer"
https://github.com/richardscarrott/ok-computer

[2021-07-31 01:14] moltar opened #700 "Add typanion"
https://github.com/arcanis/typanion

Yarn 3 uses it

[2021-08-25 04:49] renovate[bot] opened #717 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update dependency path-parse to 1.0.7 [security]](../pull/709)
 - [ ] [fix(deps): update dependency computed-types to v1.9.0](../pull/669)
 - [ ] [fix(deps): update dependency rulr to v8.4.0](../pull/6

[2021-08-31 14:14] hoeck commented on #497
Hey there,

found some time to work on this further. @moltar could you please have a look at the lastest commit at https://github.com/hoeck/typescript-runtime-type-benchmarks/tree/refactor-benchmarks ?

I've simplified adding new benchmarks and libraries. Its no done via a typed `register` function. Benchmark cases now look like this:

[code]

The benchmark case implementation is just the single f

[2021-10-20 22:16] KabutoYamato opened #777 "85-8.5"

[2021-10-20 22:18] #777 closed, assigned to nobody

[2021-11-01 05:52] moltar opened #785 "Add typescanner"
https://github.com/yona3/typescanner

[2021-11-01 05:54] moltar commented on #497
@hoeck Can you please make a PR and I'll review it! Thanks! 😄

[2021-11-04 02:17] moltar opened #790 "Add typed"
https://github.com/brielov/typed

[2021-11-14 07:10] moltar opened #797 "Add r-assign"
https://github.com/micnic/r-assign

[2021-11-21 01:50] moltar opened #805 "Add json-schema-to-ts"
https://www.npmjs.com/package/json-schema-to-ts

[2021-12-30 10:17] hoeck commented on #497
Just FYI I finally found some time and I am working on this. right now. I am also really curious on the results :grin:.

[2022-01-03 23:08] mihanizm56 opened #818 "What about joi library?"
Hi, we use a lot of validation in browser runtime with "joi" library. Could you please add some benchmarks about this package?

[2022-01-03 23:13] moltar commented on #818
Does it fit within the [criteria](https://github.com/moltar/typescript-runtime-type-benchmarks#criteria)?

[2022-01-04 11:20] mihanizm56 commented on #818
The interface is different, but does the same things. Validate data and give error messages if data is not valid, based on its own schema syntax

[2022-01-11 02:44] moltar commented on #818
But does it do type guarding?

[2022-01-11 02:48] moltar opened #820 "Separating tests into indepdent packages"
Having all validator packages installed in one Node package (project) may lead to wrong results, and even errors, if dependencies of validators are shared, but have loose versions defined.

The potential solution is to convert this to a monorepo, which has a separate package for each validator.

But the ideal solution should not break dependabot / revonatebot.

@hoeck thoughts?

[2022-01-11 02:49] moltar commented on #820
Can use Turborepo for monorepo management.

[2022-01-11 06:21] mihanizm56 commented on #818
What do you actually mean?

[2022-01-17 14:08] hoeck commented on #820
To be honest that sounds like over engineering to me.

After having looked at the code of some of the faster packages (gotta learn some new tricks :grin:), none of them used any third party dependencies in their hot structure checking sections. So there is no effect of such an isolated dependencies system on the benchmark top scorers. Or at least I do not expect any direct measurable effect.

Befo

[2022-01-18 05:30] #497 closed

[2022-01-18 05:32] moltar opened #821 "GitHub pages deploy before benchmarks are complete"
I don't know if there is a way to specify the dependency on the GitHub actions to be completed.

But currently GH pages deploy in parallel, and before any benchmarks are done.

Ideas?

[2022-01-18 05:32] moltar opened #822 "Add contributors section"
Need to add contributors section to the README

[2022-01-18 05:33] moltar commented on #821
Maybe we can just trigger a rebuild as a hack?

https://gist.github.com/greghaskins/62e30796021e02869240

[2022-01-18 05:36] moltar opened #823 "Parallel benchmarking"
Parallelization had to be disabled a while ago, because the final step of the benchmarking run (per Node version) is to commit back the results. This resulted in a race condition, between runs and some would fail to commit, as they had a stale git checkout.

I think we can fix this by running the benchmarks in parallel, but instead of committing the results right away, use GitHub actions caching m

[2022-01-18 06:45] hoeck commented on #821
But after benchmarks are completed, they commit the result and thus trigger a new pages deploy already?

So the only thing gained from that would be fewer gh-pages deploys. GH-docs say that there is a 10 pages builds per hour limit. Or am I missing something?

Are you asking because the benchmark results do not show up in the map? Sorry, that is my fault :sweat_smile:. The results json files conta

[2022-01-18 06:55] moltar commented on #821
Oh yes, they do!

I assumed they wouldn't. Because GH has a policy of not running GH actions triggered from the result of a GH Action action (i.e. commit).

[2022-01-18 06:55] moltar commented on #821
master is fine!

[2022-01-18 06:56] #821 closed

[2022-01-18 06:56] moltar commented on #820
That is most likely! 😁 I have this bad habit, called "over engineering".

Closing!

[2022-01-18 06:56] #820 closed

[2022-01-18 06:58] moltar commented on #818
Please see docs: https://www.typescriptlang.org/docs/handbook/2/narrowing.html#typeof-type-guards

[2022-01-18 07:02] moltar opened #824 "Packages matrix"
Create a table / matrix for each package and features it supports.

[2022-01-18 07:06] moltar opened #825 "Run benchmarks on `master` only"
They seem to run for all PRs, which is wasteful and unnecessary.

PRs should run tests only.

[2022-01-18 07:12] hoeck commented on #821
Ok, didn't know that just looked at the action logs.

If this ever becomes a problem, it looks like disabling the default pages-build-and-deploy action and adding an explicit "deploy pages" step to the release like this one: https://github.com/marketplace/actions/github-pages-action would be the way to go.

Ok, will fix the actions to use the full node version.

[2022-01-22 19:00] hoeck commented on #818
Looks like Joi does not any type-guarding at all. Also its types are pretty basic when trying to enforce that a schema conforms to an interface:

[typescript playground example](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAKjgQwM5wFYWHAZlCEOAci2GIG4AoKgYwgDtV5VaALAUxGQEEGBPOAF5M2AHQQARhg60YACgDeVOHggQAXKOBjmUYAwDm8gJQAaKgF8T1KgHo7cBhDgHcHKBwa0OZ1w3coTwATABV+MA5XdAwAV2YUASoYCKi3DxDwyOE4A

[2022-01-22 19:11] hoeck commented on #824
Could generate that table as part of the benchmark runs and also add it it as filter checkboxes to the interactive graph.

Any ideas on which features are relevant? I'd like to see "uses eval / new Function", "strict validation mode", "safe validation mode", "parsing / transforming".

[2022-01-24 06:04] moltar commented on #824
Yeah, that list is pretty much what I was thinking. Maps well to your solution with splitting the suites.

I am also interested in "JSON Schema support", but this is not really a big deal, if it doesn't fit in the model described above.

[2022-01-24 06:05] moltar commented on #818
I don't think there is room for non-TS packages as there is just way too much prior art and I am not really particularly interested in anything non-TS anyways :)

I'm going to close this issue then.

[2022-01-24 06:05] #818 closed

[2022-01-24 07:04] mihanizm56 commented on #818
TS does not affects benchmarks at all because of building tools.

[2022-01-24 07:59] hoeck commented on #824
Yea that definitely fits in, should that be two checkboxes, "Creates JSON Schema from types" and "Creates types from JSON Schema"?

In addition I'd like to add the number of dependencies (:thinking: that could be even scripted using the npm api via libnpm), maybe the time of its last release and typescript version too.

[2022-01-24 08:16] hoeck commented on #818
You're right, but TS validators require a certain style of functional API for the type-inference to work. Maybe that influences performance in comparison to validators that are free to choose whatever API is the most performant, who knows.

[2022-02-07 13:00] everhardt opened #835 "ajv only infers type for JSON Type Definition, not for JSON schema"
If I read [the docs of ajv](https://ajv.js.org/guide/typescript.html) correctly, it only offers type inference for JSON Type Definition (using the `JTDDataType` type), but not for JSON schema.

[The test case in this repo](https://github.com/moltar/typescript-runtime-type-benchmarks/blob/master/cases/ajv.ts) is using JSON schema though, and as such, AFAICT it does not meet the criteria of this ben

[2022-03-02 10:41] moltar commented on #300
To everyone involved in this issue, @hoeck put a huge amount of effort into this. Please take a look at the results published. And please give feedback. If we can consider this done, then I'll close the issue. Thanks!

[2022-03-08 06:22] moltar opened #847 "rulr breaks on v12"
[code]

[2022-03-19 10:43] hoeck commented on #847
Looks like a packaging issue with rulr to me.

Solutions I can think of:

1. some kind of "skip this library at this node-version" functionality
2. remove rulr from the benchmarks
3. file a bug bc. node12 being LTS may still be a valid target
4. fix it ourselves by hacking around the failing import somehow

[2022-03-21 04:00] moltar commented on #847
Nice analysis, @hoeck.

I have started with (3): https://github.com/ryansmith94/rulr/issues/648

[2022-03-21 04:00] moltar commented on #847
Then we can probably just move to (5), as I also don't see much difference between versions.

[2022-03-21 08:12] hoeck commented on #847
Just checked it, node 12 end of life is [2022-04-30](https://nodejs.org/en/about/releases/) so yes, I'd also vote for (5).

Note to myself: do not forget to adjust the node-version in the [`pr.yml`](https://github.com/moltar/typescript-runtime-type-benchmarks/blob/7d2c544a49c111e3e826d10d321b008d0bf09d72/.github/workflows/pr.yml#L16) workflow too.

[2022-03-21 14:18] ryansmith94 commented on #847
Thanks guys 👍  Rulr should be fixed now.

[2022-03-22 02:52] moltar commented on #300
@marcj any feedback on the recent changes?

[2022-03-22 02:55] moltar commented on #847
@ryansmith94 thanks for looking at it.

But it seems to be still failing:

[code]

[2022-03-22 09:10] ryansmith94 commented on #847
Ah damn, sorry guys, just cloning this repo to see what's happening, it's working okay in one of our repos so I don't think to check it with this one.

[2022-03-22 09:26] ryansmith94 commented on #847
Okay, figured it out, when we re-added Rulr to master in ce1393008297faf82355838142810ae32c7b984b, we didn't upgrade the package to pull in the fix from [Rulr v8.7.3](https://github.com/ryansmith94/rulr/releases/tag/v8.7.3). I've created #853 to resolve the issue.

[2022-03-22 10:46] moltar commented on #847
Oh, duhh! 🙈

[2022-05-15 08:24] sinclairzx81 opened #864 "Order of benchmarks seems to bias results"
Hi, thanks for this project.

I'm currently looking at submitting a new runtime type checker for comparative performance benchmarks, but have noticed that the order in which each validator is run seems to degrade subsequent benchmark results. By moving performing tests around, I'm able  to greatly improve the performance results of tests by simply running them first.

I'm thinking this is likely d

[2022-05-15 12:21] moltar commented on #864
Hey @sinclairzx81, thank you for your feedback.

This is certainly a serious issue.

I am not an expert on Node internals or how GC works, beyond the CS 201 type of information :)

Do you have any proposals that are specific to this repo?

I had an idea to run every test in a separate GitHub Action job, which would provide the isolation, but then I was worried about the jobs being placed on differ

[2022-05-15 12:24] moltar commented on #864
Is there anything, perhaps, in the [settings of `benny`](https://github.com/caderek/benny#tweaking-benchmarks) we could tweak to equalize the testing environment?

Maybe @caderek can recommend something?

[2022-05-15 12:43] moltar commented on #696
@richardscarrott care to contribute a benchmark case? 😜

[2022-05-15 20:36] richardscarrott commented on #696
Sounds fun, I'll try to send a PR at some point 👍

[2022-05-16 06:24] sinclairzx81 commented on #864
@moltar Hi, thanks for the quick reply.

I agree that each test should be run on the same machine (not distributed across different machines on CI). I guess my initial thoughts on this were to just run each test in it's own V8 isolate. I guess this could be achieved a couple of ways, but perhaps the easiest is to have a cli command that is able to target an individual test. This would enable somet

[2022-05-16 07:32] hoeck commented on #864
:+1:

:+1:

The results json format is pretty simple: an object in an array for each benchmark/module combination. That can be easily rewritten such that every isolated benchmark run appends its individual result to an already existing results json file. Benchmarks will obviously not run in parallel so there won't be any file transaction issues.

Two more thoughts/questions that come to my mind ar

[2022-05-16 08:03] sinclairzx81 commented on #864
@moltar Hi!

This is a good question. I'm thinking maybe the best way to orchestrate these tests might be to organize the execution of the tests by package (vs by test). So in this regard, the process would start for a given validation package (i.e myzod), then execute all the tests for that validation package, then exit. The next package would be run immediately there after (in it's own process)

[2022-05-16 09:44] hoeck commented on #864
@sinclairzx81 @moltar or anyone else volunteering for this? Otherwise I'm going to try to implement @sinclairzx81 suggestions.

[2022-05-16 10:19] sinclairzx81 commented on #864
@hoeck Hi. that's great news :) I wasn't planning on undertaking these updates myself (as that work is best left for those benchmarking), but can help assist with the PR process by running some local tests and providing feedback prior to merge if it's helpful.

Keep me posted!

[2022-05-16 10:26] moltar commented on #864
That would be great! 👍🏼 😁

[2022-05-17 13:46] hoeck commented on #864
@sinclairzx81 could you please try the changes from my PR?

When you execute `npm start` or `npm run start` or `./start.sh`, benchmarks are now run for each module in their own npm process and the results are aggregated.

You can also do `npm run start run zod myzod` to only benchmark the listed modules at a time.

And most important, does the bias of the ordering go away or does it persist?

[2022-05-17 14:34] sinclairzx81 commented on #864
@hoeck Hi sure, just ran your branch and it looks like that did the trick. Seems many of the libraries there are giving much better results across the board now, with some crossing the 1 million operations per second mark which is nice to see! Hopefully the updates weren't too bad to implement. Also +1 for adding the ability run individual cases, very useful!

Good work mate!
S

[2022-05-17 16:56] moltar commented on #864
@hoeck amazing work, as usual! 👍🏼

I'm wondering if we shall add temporarily a notice banner at the top explaining this change, with maybe a link to this issue for details?

[2022-05-17 20:00] hoeck commented on #864
That makes sense, I'll add a simple info message on top of the readme.

[2022-05-23 15:10] #864 closed

[2022-06-17 00:52] BasixKOR opened #894 "Add deepkit"
As a part of the Deepkit framework they provide a runtime type implementation documented here: https://deepkit.io/documentation/type

[2022-06-17 10:07] moltar commented on #894
Thanks for the tip @BasixKOR!

We have benchmarks for `@marcj/marshal` (which is from the same author as Deepkit).

The link to `@marcj/marshal` repo seems to redirect to Deepkit now too.

Wondering if it is now part of the project or is it a separate project?

@marcj could you please add your thoughts. Thanks!

[2022-06-17 10:35] marcj commented on #894
Marshal was the foundation of Deepkit, so the repo was renamed. Its functionality with the same JIT technique is now in deepkit/type, but instead of being based on classes with TypeScript decorators, it's now based on runtime TypeScript types. The refactor is relatively new, so I expect a slight decrease in performance.

[2022-06-17 11:04] moltar commented on #894
Sounds like we probably want to keep both `@marcj/marshal` and deepkit for now?

@BasixKOR would you be able to contribute a PR for this?

[2022-06-17 14:15] BasixKOR commented on #894
I'm definitely interested, but I wasn't sure where should I put `@deepkit/type-compiler` for benchmarking.

[2022-06-17 14:17] moltar commented on #894
@hoeck is the Chief Classifier in this repo, maybe he can pitch in with his thoughts? 😁

[2022-06-30 03:20] moltar opened #897 "Add `to-typed`"
https://github.com/jsoldi/to-typed

@jsoldi? 😁

[2022-07-04 15:42] moltar commented on #97
WIP here: https://github.com/moltar/typescript-runtime-type-benchmarks/pull/896

[2022-07-05 19:23] samchon opened #898 "Add `typia`"
https://github.com/samchon/typia

[2022-07-05 19:40] moltar opened #899 "Switch to using `projen` for each package tested"
Using [projen](https://github.com/projen/projen) would open up the possibility of having different configs for each package that is being tested.

This would be necessary for #898, but we have also ran into this with `spectypes` (#856).

[2022-07-05 20:03] samchon opened #900 "What about adding much more test cases?"
https://github.com/samchon/typescript-json/tree/master/test/structures

I'm developing a runtime type checker (validator) library, and have prepared lots of test cases, for hardcore validation.

How about `typescript-runtime-type-benchmarks` to adapt such test cases?

They may be useful.

[2022-07-05 20:04] samchon commented on #900
If you want to see use-case for benchmark:

https://github.com/samchon/typescript-json/blob/master/benchmark/features/benchmark_is.ts

[2022-07-06 23:33] jsoldi commented on #897
Happy to help with this but I haven't figured out how to work with this library. I downloaded the package and tried to add a dummy case in the cases folder by cloning one of the existing ones. I also added it to `cases/index.ts` and did `npm run test`, `npm run docs:build` and `npm run docs:start` but keep seeing the old cases only. Did I miss any step?

[2022-07-07 06:18] hoeck commented on #897
@jsoldi looks like you forgot to run the actual benchmarks with `npm run start`? That will run all cases, write the results to `docs/results`, which is then shown in the docs ui.

For development, you can also choose which cases are benchmarked by using `npm run start run <your-package-name> <another-package-name>`.

Also, for your cases to be picked up by the tests you'll need to manually import

[2022-07-09 01:04] jsoldi commented on #897
So it seems that the problem was that I'm on Windows, which doesn't support the shebang code on top of ts-node's `bin.js` file. I guess this also explains why this file was randomly opening on my text editor. The way I solved it was by changing [this line](https://github.com/moltar/typescript-runtime-type-benchmarks/blob/929a5d0bb5d3a85dd7522983c2ce91d9bf208d0f/index.ts#L30) to this:

[code]

But

[2022-07-09 09:40] moltar commented on #897
@jsoldi ah, thanks for that. Good to know! Will move that into an issue.

[2022-07-09 09:41] moltar opened #903 "Fix runner script to be cross-platform"
Ref: https://github.com/moltar/typescript-runtime-type-benchmarks/issues/897#issuecomment-1179449616

[2022-07-15 15:13] #797 closed

[2022-07-21 11:19] micnic opened #929 "Benchmark is not fair for packages that return a new object"
It seems that there is a huge gap between the results of different packages in this benchmark, by going deeply in the implementation of the parsing process of packages that perform better I saw that for example `@badrap/valita` does not return a new object and does not strip properties that are not part of the schema, this gives an advantage of about 4 times in some tests that I made with my own p

[2022-07-21 11:50] hoeck commented on #929
There are already 4 separate benchmarks (all on the same data though) that try to take these behaviors into account.

What you describe is covered in the "Safe Parsing" benchmark: the package must remove additional properties which are not defined in the schema.
But only the happy case where no additional keys are present is benchmarked. Packages that efficiently detect that the input object does

[2022-07-21 11:55] hoeck commented on #929
But in principle I agree that there is a ton of stuff that could be added to make comparisons more fair. Like an indicator whether a package requires eval, the number of dependencies or whether a preprocessing step is necessary.

In addition, more benchmark cases could be added, e.g. to determine performance when parsing tagged unions, intersection types, constructing errors. That all takes quite

[2022-07-21 12:27] micnic commented on #929
Let me be more explicit:
I tried to compare two very similar from the API point of view packages: Valita (performs better in the benchmark) and Zod (performs worse in the benchmark)

I modified the `valita` case to the following:
<img width="670" alt="image" src="https://user-images.githubusercontent.com/1449826/180210027-75458564-846a-4e69-9cda-734e32b9383b.png">

I added a check just to see if t

[2022-07-21 13:34] hoeck commented on #929
You're right and in my opinion this behavior is totally fine.

Why should Valita return a new object when the original object does not contain any properties that need to be stripped? Valita contains some logic to detect when to return a new vs when to return the same object - again IMO an important performance hack to make.
I see that a lot of real world data seldomly contains additional properti

[2022-07-21 15:17] micnic commented on #929
Ok, thanks for the explanation @hoeck , I will try to improve my package based on this knowledge and get it better at this benchmark.

Feel free to close this discussion.

[2022-07-22 11:58] #929 closed

[2022-07-29 11:59] moltar opened #939 "Add `spartan-schema`"
https://github.com/ar-nelson/spartan-schema

@ar-nelson Wanna contribute? 😉

[2022-07-30 09:26] #97 closed

[2022-08-05 11:16] jviide commented on #900
Validation failures are also one less benchmarked case. Their performance also becomes relevant in cases like `union`/`oneOf`/... where some subvalidators might fail while the whole validation succeeds as a whole.

[2022-09-26 08:47] moltar opened #1006 "Add `vality`"
https://github.com/jeengbe/vality

@jeengbe Want to give this a try? 😁

[2022-09-26 09:15] jeengbe commented on #1006
Assign me 😁

[2022-10-03 17:11] GervinFung opened #1007 "feat(package): `parse-dont-validate`"
Hi, here is a run-time typechecker, do you mind adding it?

[2022-10-03 19:03] moltar commented on #1007
@GervinFung Sure, if it fits the criteria.

Do you want to contribute a PR?

[2022-10-04 06:02] GervinFung commented on #1007
Hey, thanks for replying, I will create a PR ASAP

[2022-10-25 21:03] moltar opened #1009 "Failing build"
https://github.com/moltar/typescript-runtime-type-benchmarks/actions/runs/3323922645/jobs/5495360852

Looks like the shell script is not liking the brackets.

Any ideas?

[code]

[2022-10-26 00:24] #1007 closed

[2022-10-29 09:27] jeengbe commented on #1006
Vality isn't ready for performance benchmarks yet, there's still plenty of other stuff I am working on. Feel free to close this issue for now and reopen it once I'm ready

[2022-11-14 17:31] jeengbe opened #1012 "How do I add a testcase (Request: Documentation on that)"
[code]
throws an exception on invalid which crashes the process.

[code]

[2022-11-15 14:23] moltar commented on #1012
@hoeck Do you have any input on this?

[2022-11-15 15:03] hoeck commented on #1012
@jeengbe have you tried running the tests with `npm run test` - what do they say?

If a benchmarked library does not implement the benchmark correctly (e.g. raises an exception if the data is valid) the benchmark will crash. The tests are meant to ensure that the benchmarked libraries do indeed conform to the benchmark spec.

[2022-11-15 15:21] jeengbe commented on #1012
Ah yes, I could debug it with jest.
That is something that should somewhat be documented 🙈

Along the lines of
### parseSafe:
- Allows unknown properties
- Throws if invalid
- Returns data if valid

### assertStrict
- Doesn't unknown properties
- Throws if invalid
- Returns true if valid

[2022-11-15 15:28] hoeck commented on #1012
:+1: also at the bottom of the benchmark graph there is a short description what every benchmark is supposed to test: https://moltar.github.io/typescript-runtime-type-benchmarks/

[2022-11-15 15:36] hoeck commented on #1009
Looks like me being lazy and skipping shell escaping when passing the package name to the sub process to execute the benchmark in isolation :sweat_smile: .

I will fix it.

[2022-11-15 16:33] #1006 closed